doctype html
html( lang="en" )
    head
        title GSD Adminpanel
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Guardians of the silver dragons' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css", rel="stylesheet")
        link( href="/stylesheets/fileinput.min.css" rel="stylesheet" )
        link(href='/stylesheets/bootstrap-formhelpers.min.css', rel='stylesheet')
        link(href='/stylesheets/admin.css', rel='stylesheet')
        script( src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' )
        script( src="/javascripts/fileinput.min.js" )
        script( src="/javascripts/bootstrap-formhelpers.min.js")
        script( src="/javascripts/stupidtable.min.js")

        block head

    body(style="padding-bottom:10rem;")
        block main
            nav.navbar.navbar-default
                  .container-fluid
                    .navbar-header
                      a.navbar-brand.navbar-link(href='/admin') GSD Admin
                      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navcol-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    #navcol-1.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            if page === "applications"
                                li.active(role='presentation')
                                  a(href='/admin/applications') Applications 
                            else
                                li(role='presentation')
                                    a(href='/admin/applications') Applications 
                            if page === "users"
                                li.active(role='presentation')
                                    a(href='/admin/users') Users 
                            else
                                li(role='presentation')
                                    a(href='/admin/users') Users 
                            if page === "category" || page === "subcategory"
                                li.active.dropdown
                                    a.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
                                        | Forum 
                                        span.caret
                                    ul.dropdown-menu(role='menu')
                                        li(role='presentation')
                                            a(href='/admin/forum/category') Categories
                                        li(role='presentation')
                                            a(href='/admin/forum/subcategory') Subcategories
                            else
                                li.dropdown
                                    a.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
                                        | Forum 
                                        span.caret
                                    ul.dropdown-menu(role='menu')
                                        li(role='presentation')
                                            a(href='/admin/forum/category') Categories
                                        li(role='presentation')
                                            a(href='/admin/forum/subcategory') Subcategories
                            if page === "carousel" || page == "articles"
                                li.active.dropdown
                                    a.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
                                        | Homepage 
                                        span.caret
                                    ul.dropdown-menu(role='menu')
                                        li(role='presentation')
                                            a(href='/admin/homepage/carousel') Carousel
                                        li(role='presentation')
                                            a(href='/admin/homepage/articles') Articles
                            else
                                li.dropdown
                                    a.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
                                        | Homepage 
                                        span.caret
                                    ul.dropdown-menu(role='menu')
                                        li(role='presentation')
                                            a(href='/admin/homepage/carousel') Carousel
                                        li(role='presentation')
                                            a(href='/admin/homepage/articles') Articles
                            if page === "background"
                                li.active(role='presentation')
                                    a(href='/admin/background') Background 
                            else
                                li(role='presentation')
                                    a(href='/admin/background') Background 
                            if page === "aboutUs"
                                li.active(role='presentation')
                                    a(href='/admin/aboutus') About Us
                            else
                                li(role='presentation')
                                    a(href='/admin/aboutus') About Us
                        ul.nav.navbar-nav.navbar-right
                            li(role='presentation')
                                a(href='/') Back to site
            .container-fluid
                .row
                    .col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1(id="content")
                        block content
                            if page === "admin"
                                .panel.panel-default
                                    .panel-body
                                        h2.text-center Please select a page in the navbar
        footer
            .panel.panel-default.col-xs-12.col-sm-10.col-sm-offset-1
                .panel-body.footer
                    div.footer-desktop
                        p Copyright "#[a(href="/") Guardians Of The Silver Dragons]", All Rights Reserved
                        p Design By Karel Baetens - Build By Jan Baetens
                    div.footer-mobile
                        p &copy; #[a(href="/") Guardians Of The Silver Dragons]
    block scripts
        
