extend admin

block head
    script( src="/javascripts/adminApplications.js" )

block content
    .table-responsive
        table.table#applications
            thead
                tr
                    th(data-sort = "string") First Name
                    th(data-sort = "string") GW2 Name
                    th(data-sort = "string") Gender
                    th(data-sort = "string") Email
                    th(data-sort = "datetime") Application Date
                    th(data-sort = "string") Status
            tbody
    #applicationInfo(style= {display:"none"})
        .panel.panel-default
            .panel-body
                .col-sm-5#left
                    .input-group
                        span.input-group-addon#basic-addon1 Username
                        input.form-control#username(readonly="readonly")
                    .input-group
                        span.input-group-addon#basic-addon1 Country
                        input.form-control#country(readonly="readonly")
                    .form-group
                        .col-sm-12(style={padding:0, 'margin-Bottom': "10px"})
                            label Tell us a bit about yourself
                            .textarea.form-control#yourself(readonly="readonly")
                    .input-group
                        span.input-group-addon#basic-addon1 TS?
                        input.form-control#ts(readonly="readonly")
                    .input-group
                        span.input-group-addon#basic-addon1 Forums?
                        input.form-control#forum(readonly="readonly")
                    .input-group
                        span.input-group-addon#basic-addon1 Whatsapp?
                        input.form-control#whatsapp(readonly="readonly")
                    .form-group
                        .col-sm-12(style={padding:0, 'margin-Bottom': "10px"})
                            label Do you have any final questions or points to make?
                            .textarea.form-control#questions(readonly="readonly")
                .col-sm-5#right
                    .input-group
                        span.input-group-addon#basic-addon1 Birthday
                        input.form-control#birthday(readonly="readonly")
                    .input-group
                        span.input-group-addon#basic-addon1 GW2 Version
                        input.form-control#version(readonly="readonly")
                    .form-group
                        .col-sm-12(style={padding:0, 'margin-Bottom': "10px"})
                            label What are you looking for in a guild?
                            .textarea.form-control#why(readonly="readonly")
                    .form-group
                        .col-sm-12(style={padding:0, 'margin-Bottom': "10px"})
                            label What's your playstyle like?
                            .textarea.form-control#playstyle(readonly="readonly")
                    .input-group
                        span.input-group-addon#basic-addon1 Days
                        input.form-control#days(readonly="readonly")
                    .input-group
                        span.input-group-addon#basic-addon1 Times
                        input.form-control#times(readonly="readonly")
                .col-sm-12
                    .col-sm-12
                        .col-sm-6.col-sm-offset-3(style={padding:0, 'margin-Bottom': "10px"})
                            label Feedback
                            textarea.form-control#decision(rows="5")
                    div#buttons.col-sm-12
                        button.col-xs-8.col-xs-offset-2.col-sm-3.col-sm-offset-2.btn.btn-success#acceptApplication(type="button") Accept
                        button.col-xs-8.col-xs-offset-2.col-sm-3.col-sm-offset-2.btn.btn-danger#declineApplication(type="button") Decline
    #goUp.panel.panel-default
        .panel-body
            .glyphicon.glyphicon-arrow-up
    #goDown.panel.panel-default
        .panel-body
            .glyphicon.glyphicon-arrow-down
block scripts
    script.
        $(function() {
            $(window).scroll(function () {
                if ($(window).scrollTop() >= 400 && $(window).height() + $(window).scrollTop() < $(document).height() - 400) {
                    $("#goUp").show();
                    $("#goDown").show();
                } else if ($(window).height() + $(window).scrollTop() >= $(document).height() - 400) {
                    $("#goUp").show();
                    $("#goDown").hide();
                } else {
                    $("#goUp").hide();
                    $("#goDown").show();
                }
            });
            $("#goDown").click(function (e) {
                $('html, body').animate({scrollTop: $(document).height()}, 500);
            });
            $("#goUp").click(function (e) {
                $('html, body').animate({scrollTop: 0}, 500);
            });
        });