extend admin

block head
    link( href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet" )
    script( src='//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js' )
    script( src="/javascripts/adminArticles.js" )

block content
    h1.text-center Articles
    .table-responsive
        table.table#articlesTable
            thead
                tr
                    th(data-sort= "int") ID
                    th(data-sort= "string") Title
                    th(data-sort= "string") Date
                    th(data-sort= "string") Creator
            tbody
    div.col-xs-12
        button.col-xs-8.col-xs-offset-2.col-sm-2.col-sm-offset-5.btn.btn-success#addArticle(type="button", style={'margin-bottom': "20px"}) Add Article
    #articleInfo.col-xs-12(style= {display:"none"})
        .panel.panel-default
            .panel-body
                .col-sm-8
                    h2#articleID(style={'text-align': "center"})
                    .col-sm-6
                        label(for="title") Title
                        input.form-control#title
                    .col-sm-12
                        label(for="preview") Preview
                        #preview
                    .col-sm-12
                        label(for="editor") Content
                        #editor
                .col-sm-8(style={'margin-top': "20px"})
                    button.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-1.btn.btn-success#saveArticle(type="button") Save Changes
                    button.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-2.btn.btn-danger#deleteArticle(type="button") Delete Article