extend admin
block head
    script( src="/javascripts/adminBackground.js" )

block content
    h1.text-center Background
    .panel.panel-default
        .panel-body
            .col-sm-6.col-sm-offset-3
                .form-group
                    a(href= backgroundImg, target="_blank")
                        img.col-sm-12.img-responsive#backgroundImg(src= backgroundImg, style={'margin-bottom': "20px"})
                    input.file-loading#imageName(name="imgUpload", type="file")
                    div#errorBlock.help-block
                .form-group
                    button.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-4.btn.btn-success#saveBackground Save Background