extend admin
block head
    link( href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet" )
    script( src='//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js' )
    script( src="/javascripts/adminCarousel.js" )

block content
    h1.text-center Carousel
    .table-responsive
        table.table#carouselTable
            thead
                tr
                    th(data-sort="int") ID
                    th(data-sort="string") Content
                    th(data-sort="string") Date
            tbody
    div.col-sm-12
        button.col-xs-8.col-xs-offset-2.col-sm-2.col-sm-offset-5.btn.btn-success#addCarouselItem(type="button", style={'margin-bottom': "20px"}) Add Carousel Item
    #carouselInfo.col-sm-12.panel.panel-default(style={display:"none"})
        .panel-body
            .col-sm-6.col-sm-offset-3
                h2.col-sm-12(style={'text-align': "center"}) Edit Carousel Item
            .col-sm-6.form-group
                label Carousel Image
                input.file-loading#imageName(name="imgUpload", type="file", multiple="multiple")
                div#errorBlock.help-block
            .col-sm-6
                label Article id for button
                select.form-control#buttonLink
                    option No Article
            .col-sm-12
                label(for="editor") Content
                textarea.form-control#editor(rows="5")
            .col-sm-12(style={'margin-top': "20px"})
                button.col-xs-8.col-xs-offset-2.col-sm-2.col-sm-offset-2.btn.btn-success#saveCarouselItem(type="button") Save Changes
                button.col-xs-8.col-xs-offset-2.col-sm-2.col-sm-offset-4.btn.btn-danger#deleteCarouselItem(type="button") Delete Item