extend admin

block content
    div
        .col-sm-12.buttonList
            a.btn.btn-primary.col-xs-10.col-xs-offset-1.col-sm-2.col-sm-offset-5#articlesButton(href="/admin/homepage/articles") Add or edit article
        .col-sm-12.buttonList
            a.btn.btn-primary.col-xs-10.col-xs-offset-1.col-sm-2.col-sm-offset-5#carouselButton(href="/admin/homepage/carousel") Add or edit carousel item