extend admin

block head
    script(src="/javascripts/adminSubcategory.js")

block content
    h1.text-center Subcategories
    .table-responsive
        table.table#subCategoryTable
            thead
                tr
                    th(data-sort= "string") Name
                    th(data-sort= "string") Description
                    th(data-sort= "string") Category
            tbody
    div.col-xs-12
        button.col-xs-8.col-xs-offset-2.col-sm-2.col-sm-offset-5.btn.btn-success#addSubCategory(type="button", style={'margin-bottom': "20px"}) Add Subcategory
    #subCategoryInfo.col-xs-12(style= {display:"none"})
        .panel.panel-default
            .panel-body
                .col-sm-8.col-sm-offset-2
                    .col-sm-6
                        label(for="name") Name
                        input.form-control#name
                    .col-sm-12
                        label(for="description") Description
                        input.form-control#description
                    .col-sm-6
                        label(for="description") Category
                        select.form-control#category
                .col-sm-8.col-sm-offset-2(style={'margin-top': "20px"})
                    button.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-1.btn.btn-success#saveSubCategory(type="button") Save Changes
                    button.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-2.btn.btn-danger#deleteSubCategory(type="button") Delete Subcategory