extends layout

block content
    .row
        .col-lg-8.offset-lg-2
            .card.aboutUs
                .card-body
                    h1.text-center About Us
                    div !{pageContent}
block scripts
    script(src="./javascripts/aboutUsScript.js")