extends layout

block head
    link(rel="stylesheet", href="/stylesheets/bootstrap-formhelpers.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css")

block content
    .row
        .col-lg-8.offset-lg-2
            .card.applyHere
                .card-body
                    form(id="form").offset-md-2.col-md-8
                        .form-group
                            legend Application Form
                        .form-group
                            label(for="name").control-label First Name
                            input(type="text", name="name", id="name", required="required", placeholder="John").form-control
                        .form-group
                            label.control-label Gender*
                            .radio
                                label
                                    input(type="radio", name="gender", value="Male", checked="checked")
                                    | Male
                            .radio
                                label
                                    input(type="radio", name="gender", value="Female")
                                    | Female
                            .radio
                                label
                                    input(type="radio", name="gender", value="Other")
                                    | Other
                        .form-group
                            label.control-label Country*
                            select.form-control.input-medium.bfh-countries(id="country")
                        .form-group
                            label.control-label Birthday*
                            #date
                                input#datepicker.form-control(name="date",placeholder="DD/MM/YYYY",type="text")
                        .form-group
                            label Tell us a bit about yourself
                            textarea.form-control(rows="5", id="info")
                        hr
                        .form-group
                            label(for="username").control-label Username*
                            input(type="text", name="username", id="username", required="required", placeholder="Username").form-control
                        .form-group
                            label(for="email").control-label Email*
                            input(type="text", name="email", id="email", required="required", placeholder="name@provider.com").form-control
                        .form-group
                            label(for="password").control-label Password*
                            input(type="password", name="password", id="password", required="required", placeholder="*****").form-control
                        .form-group
                            label(for="gw2acc").control-label GW2 Username*
                            input(type="text", name="gw2acc", id="gw2acc", required="required", placeholder="player.1234").form-control
                        .form-group
                            label.control-label GW2 Version*
                            select.form-control(id="version")
                                    option(value="f2p") GW2 F2P
                                    option(value="core") Core
                                    option(value="hot") GW2 Heart of Thorns
                                    option(value="pof" selected) GW2 Path of Fire
                        .form-group
                            label What are you looking for in a guild?
                            textarea.form-control(rows="5", id="guild")
                        .form-group
                            label How comfortable are you with TS?
                            select.form-control(id="ts")
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5" selected) 5
                                option(value="6") 6
                                option(value="7") 7
                                option(value="8") 8
                                option(value="9") 9
                                option(value="10") 10
                        .form-group
                            label How comfortable are you with forums?
                            select.form-control(id="forum")
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5" selected) 5
                                option(value="6") 6
                                option(value="7") 7
                                option(value="8") 8
                                option(value="9") 9
                                option(value="10") 10
                        .form-group
                            label How comfortable are you with joining our Whatsapp groups?
                            select.form-control(id="whatsapp")
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5" selected) 5
                                option(value="6") 6
                                option(value="7") 7
                                option(value="8") 8
                                option(value="9") 9
                                option(value="10") 10
                        .form-group
                            label What's your playstyle like?
                            textarea.form-control(rows="5", id="playstyle")
                        .form-group(id="days")
                            label What days do you tend to play on?
                            div 
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Monday")
                                    | Monday
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Tuesday")
                                    | Tuesday
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Wednesday")
                                    | Wednesday
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Thursday")
                                    | Thursday
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Friday")
                                    | Friday
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Saturday")
                                    | Saturday
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Sunday")
                                    | Sunday
                        .form-group(id="times")
                            label.control-label What times?
                            div
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Mornings")
                                    | Mornings
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Afternoons")
                                    | Afternoon
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Evenings")
                                    | Evening
                                label.form-check-inline
                                    input(type="checkbox", id="",value="Nights")
                                    | Nights
                        .form-group
                            label Do you have any final questions or points to make? 
                            textarea.form-control(rows="5", id="questions")
                        .form-group
                            .col-md-2.offset-md-5
                                button.btn.btn-primary(type="button", id="submit") Submit
    block scripts
        script(src="./javascripts/bootstrap-formhelpers.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js")
        script(src="./javascripts/applicationScript.js")