extends layout

block content
    .card.col-xs-12.col-sm-10.offset-sm-1
        .card-body(id="panel")
            if token
                form.form-horizontal.col-sm-8.offset-sm-2(id="resetform")
                    .form-group(id="title")
                        legend.offset-sm-3.col-sm-9 Forgot Password
                    .form-group(style="display:none;")
                        .col-sm-9.offset-sm-3
                            .alert#Message(role="alert")
                    .form-group
                        label(for="password").col-sm-3.control-label Password
                        .col-sm-9
                            input(type="password", name="password", id="password", required="required", placeholder="*******").form-control
                    .form-group
                        label(for="confirmpassword").col-sm-3.control-label Confirm Password
                        .col-sm-9
                            input(type="password", name="confirmpassword", id="confirmpassword", required="required", placeholder="*******").form-control
                    .form-group.d-none
                        .col-sm-3
                        .col-sm-9
                            input(type="password", name="token", id="token", required="required" value=token).form-control
                    .form-group
                        .col-sm-9.col-sm-offset-3
                            button.btn.btn-primary(type="button", id="resetPass") Reset Password
            else
                form.form-horizontal.col-sm-8.offset-sm-2(id="form", action="/submitPassRequest")
                    .form-group(id="title")
                        legend.offset-sm-3.col-sm-9 Forgot Password
                    .form-group(style="display:none;")
                        .col-sm-9.offset-sm-3
                            .alert#Message(role="alert")
                    .form-group
                        label(for="email").col-sm-3.offset-sm-3.control-label Email
                        .col-sm-9.offset-sm-3
                            input(type="text", name="email", id="email", required="required", placeholder="user@gsd-guild.com").form-control
                    .form-group
                        .col-sm-9.offset-sm-3

                            button.btn.btn-primary(type="submit", id="forgotPass") Forgot Password
block scripts
    script(src="/javascripts/jquery.form.js")
    script(src="/javascripts/forgotPass.js")