extends layout

block head
    link(href="/stylesheets/Login-Form-Dark.css" rel="stylesheet" )

block content
    .row
        .col-lg-4.offset-lg-4
            .card.aboutUs
                .card-body
                    .login-dark(style='background-image:none;background-color:transparent;')
                        form(id="form")
                            h2.sr-only Login Form
                            .illustration
                                i.icon.ion-ios-locked-outline
                            .form-group(id="title")
                            .form-group
                                input.form-control(id="username" type='username', name='username', placeholder='Username')
                            .form-group
                                input.form-control(id="password" type='password', name='password', placeholder='*****')
                            .form-group
                                button.btn.btn-primary.btn-block(type="button", id="login") Log In
                            a.forgot(href='/forgotPass') Forgot your email or password?
    block scripts
        script(src="./javascripts/loginScript.js")