@font-face {
    font-family: gw2_font;
    src: url('/fonts/GWTwoFont.ttf');
}

body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,gw2_font,sans-serif;
}

.textarea {
    overflow-y: auto;
    height: 140px;
    resize: both;
    word-wrap: break-word;
}

#goDown {
    cursor: pointer;
    display: block;
    position: fixed;
    left: 50px;
    bottom: 50px;
    padding: 0;
    background-color: #2c3e50;
}

#goDown .panel-body {
    color: white;
    box-sizing: content-box;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 10px;
}

#goUp {
    cursor: pointer;
    display: none;
    position: fixed;
    left: 50px;
    bottom: 120px;
    padding: 0;
    background-color: #2c3e50;
}

#goUp .panel-body {
    color: white;
    box-sizing: content-box;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 10px;
}

thead {
    background-color: #E0E8F0;
}

table {
    border-radius: 15px;
}

table th,
table td {
    cursor: pointer;
}

div .table-responsive {
    border-radius: 10px;
}

.buttonList {
    margin-bottom: 20px;
}

#left {
    float: left;
}

#right {
    float: right;
}

.footer p {
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
    height: 1.5em;
    margin-bottom: 0;
}

.input-group,
#textarea {
    margin-bottom: 10px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.icon-bar {
    background-color: #18bc9c;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.btn {
    border-radius: 10px;
}

#users th,
#users td {
    cursor: default;
}

.footer-desktop {
    display: inline;
}

.footer-mobile {
    display: none;
}

.navbar-default {
    background-color: #2c3e50;
    border-color: #2c3e50;
    color: white;
}

.navbar.navbar-default>.container-fluid {
    background-color: #2c3e50;
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li:hover>a {
    color: #18bc9c;
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #18bc9c;
    background-color: #1a242f;
}

.navbar-default .navbar-nav>li.active,
.navbar-default .navbar-nav>.active>a {
    background-color: #1a242f;
    background-image: initial;
    color: white;
}

.navbar-default .navbar-nav>li.active:hover,
.navbar-default .navbar-nav>.active:hover>a {
    background-color: #1a242f;
    background-image: initial;
    color: #18bc9c;
}

.navbar-brand.navbar-link {
    color: white;
}

.navbar-brand.navbar-link:hover {
    color: #18bc9c;
}

.navbar-brand.navbar-link:focus {
    color: #18bc9c;
}

.navbar.navbar-default {
    border: none;
}

.navbar-default .navbar-nav>.open>a {
    background-color: #2c3e50;
    background-image: none !important;
}

.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #1a242f;
    color: white;
    background-image: none !important;
}

.dropdown-menu {
    background-color: #2c3e50;
}

.dropdown-menu>li>a {
    background-color: #2c3e50;
    color: white;
}

.dropdown-menu>li:hover>a {
    color: #18bc9c;
    background-color: #1a242f;
}

.dropdown-menu>li:hover {
    color: #18bc9c;
    background-color: #1a242f;
}

.dropdown-menu>li>a:hover {
    color: #18bc9c;
    background-color: #1a242f;
}

.dropdown-menu>li>a:hover {
    color: #18bc9c;
    background-color: #1a242f;
}

.dropdown-toggle {
    color: white;
}

.dropdown-toggle:focus {
    color: #18bc9c;
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #18bc9c;
        background-color: #2c3e50;
    }
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
        background-color: #2c3e50;
    }
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #18bc9c;
        background-color: #2c3e50;
    }
}



@media screen and (max-width: 1139px) {

    textarea {
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
    }

    .footer p {
        text-align: center;
        vertical-align: baseline;
        line-height: normal;
        height: auto;
        margin-bottom: 0;
    }

    .footer-desktop {
        display: none;
    }

    .footer-mobile {
        display: inline;
    }

    #dashboard span {
        display: none;
    }

    #dashboard h4 {
        font-size: 14px;
    }
    #saveAboutUs,
    #acceptApplication,
    #saveCarouselItem,
    #articlesButton,
    #saveArticle {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1440px) {

    .footer p {
        text-align: center;
        vertical-align: baseline;
        line-height: normal;
        height: auto;
        margin-bottom: 0;
    }

    .footer-desktop {
        display: none;
    }

    .footer-mobile {
        display: inline;
    }

    #dashboard span {
        display: none;
    }

    #dashboard h4 {
        font-size: 14px;
    }
    #saveAboutUs,
    #acceptApplication,
    #saveCarouselItem,
    #articlesButton,
    #saveArticle {
        margin-bottom: 20px;
    }
}