extends ../layout

block content
    .row
        .col-lg-8.offset-lg-2
            .card.card-image.category
                .card-body
                    h2 Forum
                    .list-group
                        each val, index in categories
                            .list-group-item.category-header
                                span.list-group-item-heading
                                    h4.list-group-item-heading #{val.name}
                            each valsub, indexsub in subcategories
                                if valsub.superCategory == val.name
                                    a.list-group-item.subcategories-content(href="/forum/" + val.name + "/" + valsub.name)
                                        .list-group-item-heading(style="padding: 0 20px;")
                                            p.pull-left #{valsub.name}
                                            p.pull-right
                                                span.badge.badge-pill.badge-primary #{valsub.unseen}
block scripts
